<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2> Display </h2>
:FirstName <%= @user.firstname %>
:LastName <%= @user.lastname %>
:Designation <%= @user.designation %>
:Origin <%= @user.origin %>
<%= link_to "home page", root_path %>
</body>
</html>
